In [40]:
import pandas
from influxdb import DataFrameClient

In [41]:
host='127.0.0.1'
port=8086
user = 'root'
password = 'root'
dbname = 'orderbook'
protocol = 'json'

In [42]:
client = DataFrameClient(host, port, user, password, dbname)

In [43]:
df = pandas.DataFrame(
    index=pandas.date_range(
        start='2019-09-16', periods=30, freq='H'),
    data={'startby': list(range(30)), 'endby': list(range(30))})
df.head()

                     startby  endby
2019-09-16 00:00:00        0      0
2019-09-16 01:00:00        1      1
2019-09-16 02:00:00        2      2
2019-09-16 03:00:00        3      3
2019-09-16 04:00:00        4      4

In [44]:
client.create_database(dbname)

In [45]:
client.write_points(df, 'battery', protocol='line')

True

In [47]:
client.query("select * from battery")['battery'].head()

                           endby  startby
2019-09-16 00:00:00+00:00      0        0
2019-09-16 01:00:00+00:00      1        1
2019-09-16 02:00:00+00:00      2        2
2019-09-16 03:00:00+00:00      3        3
2019-09-16 04:00:00+00:00      4        4

In [48]:
client.drop_database(dbname)